---
import SocialLinks from './SocialLinks.astro';
---
<div class="menu-toggle">
  <div class="icon"></div>
</div>
<div class="main-menu">
  <div class="contant-info">
    <div><a href="mailto:hello@amplifiedeventstrategy.com">hello@amplifiedeventstrategy.com</a></div>
    <div></div>
  </div>
  <div class="menu-links">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/work">Work</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div class="social-media">
    <SocialLinks />
  </div>
</div>
