---
// Reusable social links list
---
<div class="social-link-holder"><a href="#">Instagram</a></div>
<div class="social-link-holder"><a href="#">Twitter</a></div>
<div class="social-link-holder"><a href="#">Facebook</a></div>
